html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "brandonlight", sans-serif;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "mina";
  src: url("../fonts/mina.ttf") format("truetype");
}

@font-face {
  font-family: "brandonlight";
  src: url("../fonts/brandonlight.ttf") format("truetype");
}

.lbt {
  font-family: "mina", sans-serif;
  font-size: 64px;
  text-rendering: optimizeLegibility;
}

/* min-width: 480px */
@media (min-width: 1px) and (max-width:  767px) {

}

/* min-width: 768px	 */
@media (min-width:  768px) and (max-width: 991px) {

}

/* min-width: 992px	 */
@media (min-width: 991px) and (max-width: 1199px) {

}

/* min-width: 1200px	 */
@media (min-width: 1200px) {

}